* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
